
    <div id="maincontent" class="text-center">  
        <h2>Total Chapters Read: <%= totalChaptersRead %></h2>
        <h2>Total Bible Completions: <%= completions %></h2>
        <h3>Progress toward the next completion: <%= progressPercentage %> %</h3>
        <h4>Chapters remaining for next completion: <%= totalBibleChapters - remainingChaptersForNextCompletion %> of <%= totalBibleChapters %></h4>
        <div class="my-4">
            <a href="#" id="openBibleProgress" class="btn btn-primary">View Bible Progress</a>
        </div>
            <% if (isLoggedIn) { %>
                <h2>Chapter Counts by Reader</h2>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Reader Name</th>
                            <th>Total Chapters</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% readerCounts.forEach(function(row) { %>
                            <tr>
                                <td><%= row.reader_name %></td>
                                <td><%= row.chapter_count %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>

                <h2>User Chapters</h2>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>User Name</th>
                            <th>Reader Name</th>
                            <th>Family Name</th>
                            <th>Chapter Name</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% chapterRows.forEach(function(row) { %>
                            <tr>
                                <td><%= row.user_name %></td>
                                <td><%= row.reader_name %></td>
                                <td><%= row.family_name %></td>
                                <td><%= row.chapter_name %></td>
                                <td><%= row.timestamp %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <h1>Welcome to the Reading Tracker App!</h1>
                <p>Please <a href="/login">log in</a> to track your reading progress.</p>
            <% } %>
            
            <!-- Modal for Bible Progress -->
            <div id="bibleProgressModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="bibleProgressContainer">
                        <!-- Bible progress content will be loaded here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

