<div id="maincontent" class="text-center container mt-5">
    <div id="manageFamily">
        <div class="container">
            <% if (!family) { %>
                <!-- Step 1: No family exists, prompt to create a family -->
                <h2>Step 1: Create Your Family Group</h2>
                <p>Your family group name can be anything you want. You can use your last name or choose a "team" name for your family. Your family group doesn't have to be your actual family. You can include anyone in your family group for whom you will report their chapters.</p>
            
                <form action="/createFamily" method="POST">
                    <div class="form-group">
                        <input type="text" name="familyName" class="form-control w-50 mx-auto" placeholder="Family Name" required>
                    </div>
                    <button type="submit" class="btn btn-success mt-3">Create Family</button>
                </form>
            
            <% } else if (family && readers.length === 0) { %>
                <!-- Step 2: Family exists but no readers, prompt to add the first reader -->
                <h2>Step 2: Add Yourself as the First Reader in Your Family</h2>
                <p>Your family group has been created! Now, add yourself or a family member as the first reader to start tracking Bible chapters.</p>
            
                <form action="/addReader" method="POST">
                    <input type="hidden" name="familyId" value="<%= family.family_id %>">
                    <div class="form-group">
                        <input type="text" name="readerName" class="form-control w-50 mx-auto" placeholder="Your Name" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Add Reader</button>
                </form>
            
            <% } else if (family && readers.length > 0 && !activeReader) { %>
                <!-- Step 3: Family and readers exist but no active reader is selected, prompt to select one -->
                <h2>Step 3: Select Yourself as the Active Reader</h2>
                <p>Now that your family and readers have been created, select the reader you will be representing.</p>
            
                <form action="/set-active-reader" method="POST">
                    <input type="hidden" name="familyId" value="<%= family.family_id %>">
                    <div class="form-group">
                        <label for="readerId">Select Reader:</label>
                        <select id="readerId" name="readerId" class="form-control w-50 mx-auto" required>
                            <% readers.forEach(function(reader) { %>
                                <option value="<%= reader.id %>"><%= reader.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Select Reader</button>
                </form>
            
            <% } else { %>
                <!-- Family, readers exist, and an active reader is selected, display the list of readers -->
                <h2><%= family.family_name %></h2>
                <h4>Readers in the Family:</h4>
                <table class="table table-striped mb-4">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Reader Name</th>
                            <th scope="col">Points</th> <!-- New Points Column -->
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% readers.forEach(function(reader, index) { %>
                            <tr>
                                <th scope="row"><%= index + 1 %></th>
                                <td><%= reader.name %></td>
                                <td><%= reader.points %></td> <!-- Display points for each reader -->
                                <td>
                                    <a href="/edit-reader/<%= reader.id %>" class="btn btn-sm btn-warning">Edit</a>
                                    <form action="/delete-reader/<%= reader.id %>" method="POST" class="d-inline-block" onsubmit="return confirm('Are you sure you want to delete this reader?');">
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <a href="/reader-reports/<%= reader.id %>" class="btn btn-sm btn-info">View Reports</a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            
                <form action="/addReader" method="POST">
                    <input type="hidden" name="familyId" value="<%= family.family_id %>">
                    <div class="form-group">
                        <input type="text" name="readerName" class="form-control w-50 mx-auto" placeholder="Reader Name" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Add Reader</button>
                </form>
            <% } %>
            
        </div>
        
    </div>

    <% if (isAdmin) { %>
        <div id="adminConsole" class="mt-5">
            <h2>Admin Console</h2>

            <div class="mb-4">
                <span class="d-block mb-2">Admin Actions:</span>

                <!-- Button to clear user chapters -->
                <form id="clearChaptersForm" action="/clear-chapters" method="POST">
                    <button type="button" class="btn btn-danger mb-2" onclick="confirmClearChapters()">Clear All User Chapters</button>
                </form>

                <script>
                    function confirmClearChapters() {
                        if (confirm("Are you sure you want to clear all user chapters? This action cannot be undone.")) {
                            document.getElementById('clearChaptersForm').submit();
                        }
                    }
                </script>

                <form id="clearUserPoints" action="/clear-points" method="POST">
                    <button type="button" class="btn btn-danger mb-2" onclick="confirmClearPoints()">Clear All User Points</button>
                </form>

                <script>
                    function confirmClearPoints() {
                        if (confirm("Are you sure you want to clear all user points? This action cannot be undone.")) {
                            document.getElementById('clearUserPoints').submit();
                        }
                    }
                </script>

                <!-- Button to export CSV -->
                <button class="btn btn-info mb-4" onclick="exportUserChapters()">Export User Chapters</button>
            </div>

            <h3 class="mb-3">Upload CSV to Restore User Chapters:</h3>
            <form action="/upload-user-chapters" method="POST" enctype="multipart/form-data" class="mb-4">
                <div class="form-group">
                    <input type="file" name="csvFile" accept=".csv" class="form-control-file" required>
                </div>
                <button type="submit" class="btn btn-warning">Upload CSV</button>
            </form>

            <h3 class="mb-3">All Users' Chapters:</h3>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Family</th>
                        <th>Reader</th>
                        <th>Chapter</th>
                    </tr>
                </thead>
                <tbody>
                    <% chapters.forEach(function(chapter) { %>
                        <tr>
                            <td><%= chapter.family_name %></td>
                            <td><%= chapter.reader_name %></td>
                            <td><%= chapter.chapter_name %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <% } %>
</div>
