<div class="profile">
    <div class="row align-items-center">
        <!-- Profile Image on the Left -->
        <div class="col-auto">
            <div class="profile-image">
                <img src="/ml<%= currentLevelId %>.webp" alt="Level Image" class="img-fluid rounded-circle" style="width: 150px;">
            </div>
        </div>

        <!-- Name and Badge on the Right, but left-aligned -->
        <div class="col">
            <h1 class="mb-0"><%= readerName %>'s Profile</h1>
            <span class="badge badge-success"><%= level %></span>
            <p>Total Points: <%= readerTotalPoints %></p>
        </div>
    </div> 
    
    <div class="my-4">
        <h3>Reader Tools:</h3>
        <a href="/reader-progress" class="btn btn-primary">View Reader's Bible Progress</a>
    </div>
    
    <!-- <span class="badge badge-success"><%= level %></span> -->
    
    <!-- Progress bar toward the next level -->
    <div class="mt-4">
        <h4>Progress to Next Level</h4>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= progressPercentage %>%;" aria-valuenow="<%= progressPercentage %>" aria-valuemin="0" aria-valuemax="100">
                <%= progressPercentage %>%
            </div>
        </div>
        <p><%= readerTotalPoints %> / <%= nextLevelPoints %> points</p>
    </div>
    <h3>Current Level: <%= level %></h3>
    <div class="mt-4">
        <p><%= levelDescription %></p>
    </div>
    <div class="profile-image">
        <img src="/ml<%= currentLevelId %>.webp" alt="Level Image" class="img-fluid">
    </div>
    
    
</div>


